@import "styles/settings/__settings";
@import "style.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family-default, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: $color-bg;
  color: $color-white;
}

p {
  line-height: 1.8;
  margin: 1.2em 0;
}

ul {
  padding-left: 1.2em;
}

a {
  color: $color-link;

  @media (hover: hover) {
    &:hover {
      text-decoration-style: wavy;
      text-decoration-thickness: from-font;
      text-underline-offset: 0.1em;
    }
  }
}

img {
  max-width: 100%;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}

blockquote {
  color: #d4d4d4;
}

hr {
  height: 1px;
  background-color: rgba(255,255,255,.15);
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}
