@import "styles/settings/__settings";

@import "styles/components/_container";

.header {
  margin: 5rem 0;

  h1 {
    margin: 0 0 0.25em 0;
    line-height: 1.15;
    font-size: 3rem;
    text-align: center;
    font-weight: $font-weight-semibold;

    // &::before {
    //   content: '\201C';
    // }

    // &::after {
    //   content: '\201D';
    // }

    @media (min-width: 480px) {
      font-size: 4rem;
    }

    a {
      color: $color-primary;
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }

  figure {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

.headerContent {
  background-color: $color-brand;
  color: $color-white;
  padding: 2.25rem;
}
