$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-900: #090b0d;

$color-blue-50: #f3f8ff;
$color-blue-100: #c0ddff;
$color-blue-200: #8dc1ff;
$color-blue-300: #5aa6ff;
$color-blue-400: #278bff;
$color-blue-500: #0070f3;
$color-blue-600: #0059c0;
$color-blue-700: #00418d;
$color-blue-800: #002a5a;
$color-blue-900: #001227;

$color-white: #fff;
$color-brand: #174D45;
$color-bg: #001a1f;
$color-link: #8eb897;

$color-primary: $color-blue-500;

// $gradient: linear-gradient(90deg, rgba(0,26,31,1) 0%, rgba(0,10,12,1) 35%, rgba(0,19,23,1) 65%, rgba(0,26,31,1) 100%);
// $gradient: linear-gradient(
//   90deg,
//   hsl(188deg 100% 5%) 0%,
//   hsl(188deg 100% 5%) 14%,
//   hsl(188deg 100% 5%) 20%,
//   hsl(188deg 100% 5%) 24%,
//   hsl(188deg 100% 5%) 29%,
//   hsl(188deg 100% 5%) 33%,
//   hsl(189deg 100% 5%) 36%,
//   hsl(189deg 100% 5%) 40%,
//   hsl(189deg 100% 5%) 43%,
//   hsl(189deg 100% 5%) 47%,
//   hsl(189deg 100% 5%) 50%,
//   hsl(189deg 100% 5%) 53%,
//   hsl(189deg 100% 5%) 57%,
//   hsl(190deg 100% 5%) 60%,
//   hsl(190deg 100% 5%) 64%,
//   hsl(190deg 100% 5%) 67%,
//   hsl(190deg 100% 5%) 71%,
//   hsl(190deg 100% 5%) 76%,
//   hsl(190deg 100% 5%) 80%,
//   hsl(190deg 100% 5%) 86%,
//   hsl(190deg 100% 5%) 100%
// );
