@import "styles/settings/__settings";

.footer {
  width: 100%;
  // border-top: 1px solid $color-brand;
}

.footerMenu {
  margin: 2rem 0;

  ul {
    list-style: none;
    padding: 0;
  }
}

.footerMenuColumns {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 -2em;

  @media (min-width: 480px) {
    justify-content: center;
  }

  & > li {
    max-width: 15em;
    margin: 2em;
  }
}

.footerMenuTitle {
  display: inline-block;
  color: $color-white;
  text-decoration: none;
  margin-bottom: 1.4em;
  margin-top: 0;
  position: relative;
  // transition: opacity 200ms ease-in-out;

  // @media (hover: hover) {
  //   &:hover {
  //     text-decoration: none;
  //     opacity: 0.65;
  //   }
  // }
  @media (hover: hover) {
    &:hover {
      color: $color-white;
      text-decoration: none;

      &::before {
        position: absolute;
        content: '<';
        left: -1ch;
        animation-duration: 150ms;
        animation-name: fadeIn;
      }

      &::after {
        position: absolute;
        content: '>';
        right: -1ch;
        animation-duration: 150ms;
        animation-name: fadeIn;
      }
    }
  }
}

.footerMenuItems {
  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    overflow: hidden;
    color: $color-white;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (hover: hover) {
      &:hover {
        color: $color-white;
        text-decoration: underline;
        text-decoration-style: wavy;
        text-decoration-thickness: from-font;
        text-underline-offset: 0.1em;
      }
    }
  }
}

.footerLegal {
  color: $color-white;
  background-color: $color-brand;
  padding: 0.8rem 0;
  margin: 0;

  p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
  }
}

.footerMenuPills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
